﻿@{
    ViewBag.Title = "HerShoppingList";
}

<div class="jumbotron">
    <h1>
        @if (User.Identity.IsAuthenticated)
        {
            <text>Hi, </text>
            @User.Identity.Name
            <text>!</text>
        }
        else
        {
            <text>Welcome!</text>
        }
    </h1>
    <p class="lead">HerShoppingList.com is a site that allows you to enter receipts into a form to provide historical tracking and Guest-I-Mation of future bills</p>
</div>

<div class="row">
   
</div>