﻿@using System.Activities.Statements
@using HerShoppingList.Models
@model HerShoppingList.Models.Receipt

@{
    ViewBag.Title = "Receipt Builder";
}

<script type="text/javascript">
    var stores = [];
    $(document).ready(function () {
        GetUniqueStores();
        $("#Name").val("@Model.Name");
        $("#EntryDate").val("@Model.EntryDate.Date.ToShortDateString()");
        $("#Store.Name").val("@Model.Store.Name");
        $("#txtRecTotal").val("@Model.ReceiptTotal");
        $("#EntryDate").datepicker();
        
    });
    var PushStores = function (data) {
        var tStores = [];
        for (var a in data) {
            tStores.push(data[a]);
        }
        return tStores;
    };
    var GetUniqueStores = function () {
        $.getJSON("@Url.Action("GetUniqueStores","Json")", function (data) {
            stores = PushStores(data);
            $("#Store.Name").autocomplete({ source: stores });
        });
    };
</script>

<form class="form-horizontal" method="POST" action="@Url.Action("AddItem","Receipt")">
    <div class="jumbotron">
        <div id="main" class="panel panel-primary">

            <div class="panel-heading"> <h1 class="panel-title">Receipt Builder</h1></div>
            <div class="panel-body">

                <fieldset>
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name)

                    @Html.LabelFor(model => model.Store.Name)
                    @Html.EditorFor(model => model.Store.Name)

                    @Html.LabelFor(model => model.EntryDate)
                    @Html.EditorFor(model => model.EntryDate)
                </fieldset>

            </div>


        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <td>
                    <label class="control-label">#</label>
                </td>
                <td>
                    <label class="control-label">Item</label>
                </td>
                <td>
                    <label class="control-label">Unit</label>
                </td>
                <td>
                    <label class="control-label">Quantity</label>
                </td>
                <td>
                    <label class="control-label">UnitPrice</label>
                </td>
                <td>
                    <label class="control-label">Category</label>
                </td>
                <td>
                    <label class="control-label">Total</label>
                </td>
            </tr>
            <tr>
               
                    <td>
                        <button class="btn-sm btn-danger" style="border-radius: 50%; background-color: red;" name="Submit" id="Submit" type="submit">+</button>
                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.NewItem.Name)
                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.NewItem.UnitType)
                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.NewItem.Quantity)
                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.NewItem.UnitPrice)
                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.NewItem.Category.Name)<br/>
                        @Html.EditorFor(model => model.NewItem.Category.IsTaxable)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(m => m.ReceiptTotal)
                    </td>
                    
                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count(); i++)
            {
                <tr>
                    <td>
                    @(i+1)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].Name)
                        @Html.HiddenFor(m => m.Items[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].UnitType)
                        @Html.HiddenFor(m => m.Items[i].UnitType)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].Quantity)
                        @Html.HiddenFor(m => m.Items[i].Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].UnitPrice)
                        @Html.HiddenFor(m => m.Items[i].UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].Category.Name)
                        @Html.HiddenFor(m => m.Items[i].Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Items[i].ItemPrice)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot></tfoot>
    </table>
    @for (int i = 0; i < Model.Items.Count(); i++)
    {
        Html.HiddenFor(model => Model.Items.ToList()[i].Name);
        Html.HiddenFor(model => Model.Items.ToList()[i].UnitType);
        Html.HiddenFor(model => Model.Items.ToList()[i].Quantity);
        Html.HiddenFor(model => Model.Items.ToList()[i].UnitPrice);
        Html.HiddenFor(model => Model.Items.ToList()[i].Category.Name);
    }
</form>