﻿@model HerShoppingList.Models.Item

<tr>
    <td>
        
    </td>
    <td>
        @Model.Name;
    </td>
    <td>
        @Model.UnitType
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @Model.UnitPrice
    </td>
    <td>
        @Model.Category.Name
    </td>
    <td>
        @Html.LabelFor(model => model.ItemPrice)
    </td>
</tr>