﻿@model HerShoppingList.Models.Item


    <td>
    <button class="btn-sm btn-danger" style="border-radius: 50%; background-color: red;" name="Submit" id="Submit" type="submit">+</button>
</td>
    <td>
        @Html.EditorFor(model => model.Name)
    </td>
    <td>
        @Html.EditorFor(model => model.UnitType)
    </td>
    <td>
        @Html.EditorFor(model => model.Quantity)
    </td>
    <td>
        @Html.EditorFor(model => model.UnitPrice)
    </td>
    <td>
        @Html.EditorFor(model => model.Category.Name)
    </td>
    <td>
        @Html.EditorFor(model => model.ItemPrice)
    </td>
